<div>
  <mat-toolbar-row>
    <div class="flex justify-between mx-10 w-full">
      <h1>Events</h1>

      <button mat-raised-button (click)="CreateClicked()">
        Create new event
      </button>
    </div>
  </mat-toolbar-row>
  <table mat-table [dataSource]="events" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let event">{{ event.id }}</td>
    </ng-container>
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let event">{{ event.title }}</td>
    </ng-container>
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let event">{{ event.description }}</td>
    </ng-container>
    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef>Event location</th>
      <td mat-cell *matCellDef="let event">
        {{ event.location.name }}: {{ event.location.address }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let event">
        <div class="flex justify-around">
          <button
            mat-raised-button
            color="primary"
            (click)="EditClicked(event.id)"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="DetailsClicked(event.id)"
          >
            <mat-icon>details</mat-icon>
            Details
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="DeleteClicked(event.id)"
          >
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
