<mat-toolbar color="primary" class="flex-1">
  <div class="w-10/12 mx-auto">
    <button
      mat-icon-button
      class="example-icon mr-4"
      aria-label="Home"
      (click)="onHomeIconClicked()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span> Event manager </span>
  </div>
</mat-toolbar>
<div class="w-10/12 mx-auto mt-4">
  <mat-tab-group
    animationDuration="500ms"
    (selectedTabChange)="onTabChanged($event)"
  >
    <mat-tab label="Events">
      <ng-template matTabContent>
        <div (click)="onHomeIconClicked()"></div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Locations">
      <ng-template matTabContent>
        <div (click)="onLocationsClicked()"></div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
